doctype html 
html
  // HEAD
  include _head

  body
    // HEADER
    include _header

    // CONTENT
    block content
      h1 Content Block Placeholder

    // FOOTER
    include _footer
    
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='/js/bundle.js')